
#main #gel-carousel li.take-me-to-ebooks {
  background-color: #5ba503;
}

.take-me-to-ebooks > span {
  margin-top: 85px;
  position: absolute;
  left: 17px;
  font-size: 120%;
  width: 80%;
  color: white;
}

.ebooks-green {
  padding: 30px 55px 80px 55px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
