//gel-colors
$grey: 													#575756;
$grey-lighter:									#EFEFF0;

//owl colours
$green: 												#CFD725;
$dark-grey: 										#414141;

$pink: 													#CF1C6D;
$blue: 													#71C3CD;
$sky-blue: 											#8BD7FC;
$dark-green: 										#5BA503;

//fonts
$font-stack: 										fs-lola-primary-web, sans-serif;

$h1-size: 											25px;
$h2-size: 											19px;
$h3-size: 											20px;
$p-size: 												18px;
$line-height: 									1.5;





// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//      -moz-border-radius: $radius;
//       -ms-border-radius: $radius;
//           border-radius: $radius;
// }