
.content-intro
	%h1 Top Tips
	%p
		Apart from that nightly bedtime story, what else can you do to make sure your child gets off to a good start, gains independence and enjoys reading? There are lots of simple things you can do at home to help. Take a look at these top tips and try out some of the ideas to see what works well in your home. Why not start by listening to
		%a{:href => "/for-home/reading-owl/top-tips--3/julia-donaldsons-top-tips", :title => "Julia Donaldson's top tips"} Julia Donaldson's top tips for reading
		with your child? 
.content-main
	%h2
		Younger readers 3-7 year olds

	#accordion2.accordion
		.accordion-group
			.accordion-heading
				%a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
					It's good to share 
			#collapseOne.accordion-body.collapse.in
				.accordion-inner
					%h3 1. Talk together
					%p Talking about words and pictures is really important for building up a store of vocabulary and confidence – and it’s fun too. The words may be in the street, in a book, on-screen or on your ketchup bottle; it really doesn’t matter so long as you talk about them together.
					%h3 2. Read together
					%p There is something very magical about sharing a book with a child. Just 5-10 minutes at bedtime, bath time or quiet time really does help to hook them in. And even your 7 year old will still enjoy the sharing if it’s on offer...
					%h3 3. Remember when...
					%p Compare events in stories or information books with things you’ve done together, so your child starts to make connections between these things and their own experiences: 'That’s just like when we went to Thorpe Park. Do you remember? Dad was scared...'
					%h3 4. Sing together
					%p Even if it’s not your forte, just sing. Nursery rhymes and songs for your youngest and chart-topping songs you hear on the radio for your 6-7 year old all count – and grandparents can contribute some golden oldies too!
					%h3 5. New books but old favourites too
					%p You’ll notice that your child will want to revisit an old favourite over and over again and that’s great (although may be not after the 64th time). But it’s also important to build confidence by reading lots of different books at the same reading level too, and continue to re-read earlier books so that you aren’t pushing up the difficulty of the read too quickly and causing frustration (to be avoided at all cost as your child won’t make progress if anxious).
		.accordion-group
			.accordion-heading
				%a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
					Skill up...
			#collapseTwo.accordion-body.collapse
				.accordion-inner
					%h3 1. Use phonics first...
					%p Help your child to learn phonic sounds as pure sounds – sss not suh. Be aware that some sounds, like sh in shop is one sound but two letters. When your child can break a word into its sounds to read it, then encourage them to write it out too.
					%p 
						%a{:href => "/for-home/reading-owl/expert-help/phonics-made-easy", :title => "Phonics made easy"} Want to know more about phonics?
						%p
							%a{:href => "/for-home/reading-owl/expert-help/phonics-made-easy", :title => "Phonics made easy"} Not sure how to pronounce the sounds?
							%h3 2. Play games...
					%p
						Use phonic flashcards to help children to read letter sounds and blend them together to read words. Use flashcards that encourage play to help your child to learn
						%a{:href => "/for-home/reading-owl/expert-help/jargon-buster--2", :title => "Jargon buster"} tricky words
						by sight. Tricky words are those words that cannot be worked out by sounding out – like
						%em> 'said'
						\.
					%p
						%a{:href => "/for-home/reading-owl/fun-ideas", :title => "Fun ideas"} Want more fun ideas to try?
						%h3 3. Listen to your child practise reading
					%p
						It’s really important that your child reads aloud to you. Reading from a levelled reading scheme book, usually one that has come home from school, means there is built-in progression so your child can steadily get more confident as they move through the reading scheme. Most children will start with fully
						%p
							%a{:href => "/for-home/reading-owl/expert-help/jargon-buster--2", :title => "Jargon buster"} decodable
							phonic books.
					%p
						%a{:href => "/for-home/reading-owl/find-a-book", :title => "Find a book"} Want to know more about levelled reading books?
						%h3 4. Use book talk
					%p Talking about stories and using story language helps to tune your child into reading. Talk about the author, illustrator, cover, the beginning, the end, words, sentences, features on the page, for example speech bubbles and pictures – it’s 'book talk'.
					%h3 5. Check understanding
					%p Use the pictures to help understanding, but also show your child how you might be able to predict what might happen next in a story from the words and pictures. Try to guess the ending! What clues were there?
					%p And most importantly, enjoy what you do together and give loads of encouragement because it really works. Remember too much pressure could put your child off.
.content-main
	%h2 Older readers 7-11 year olds
	.accordion-group
		.accordion-heading
			%a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
				Sharing reading (of all kinds)
		#collapseTwo.accordion-body.collapse
			.accordion-inner
				Anim pariatur cliche...

	.accordion-group
		.accordion-heading
			%a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
				Developing skills
		#collapseTwo.accordion-body.collapse
			.accordion-inner
				Anim pariatur cliche...