%h1 Top Tips

%p
	Apart from that nightly bedtime story, what else can you do to make sure your child gets off to a good start, gains independence and enjoys reading? There are lots of simple things you can do at home to help. Take a look at these top tips and try out some of the ideas to see what works well in your home. Why not start by listening to
	%a{:href => "/for-home/reading-owl/top-tips--3/julia-donaldsons-top-tips", :title => "Julia Donaldson's top tips"} Julia Donaldson's top tips for reading
	with your child?
%p
	%span.font-size-normal
%h2 Younger readers 3-7 year olds
%section.tip
	%h3 It's good to share
	%p
		%strong 1. Talk together
	%p Talking about words and pictures is really important for building up a store of vocabulary and confidence – and it’s fun too. The words may be in the street, in a book, on-screen or on your ketchup bottle; it really doesn’t matter so long as you talk about them together.
	%p
		%strong 2. Read together
	%p There is something very magical about sharing a book with a child. Just 5-10 minutes at bedtime, bath time or quiet time really does help to hook them in. And even your 7 year old will still enjoy the sharing if it’s on offer...
	%p
		%strong 3. Remember when...
	%p Compare events in stories or information books with things you’ve done together, so your child starts to make connections between these things and their own experiences: 'That’s just like when we went to Thorpe Park. Do you remember? Dad was scared...'
	%p
		%strong 4. Sing together
	%p Even if it’s not your forte, just sing. Nursery rhymes and songs for your youngest and chart-topping songs you hear on the radio for your 6-7 year old all count – and grandparents can contribute some golden oldies too!
	%p
		%strong 5. New books but old favourites too
	%p You’ll notice that your child will want to revisit an old favourite over and over again and that’s great (although may be not after the 64th time). But it’s also important to build confidence by reading lots of different books at the same reading level too, and continue to re-read earlier books so that you aren’t pushing up the difficulty of the read too quickly and causing frustration (to be avoided at all cost as your child won’t make progress if anxious).
%section.tip
	%h3 Skill up...
	%p
		%strong 1. Use phonics first...
	%p Help your child to learn phonic sounds as pure sounds – sss not suh. Be aware that some sounds, like sh in shop is one sound but two letters. When your child can break a word into its sounds to read it, then encourage them to write it out too.
	%p
		%strong
			%a{:href => "/for-home/reading-owl/expert-help/phonics-made-easy", :title => "Phonics made easy"} Want to know more about phonics?
	%p
		%strong
			%a{:href => "/for-home/reading-owl/expert-help/phonics-made-easy", :title => "Phonics made easy"} Not sure how to pronounce the sounds?
	%p
		%strong 2. Play games...
	%p
		Use phonic flashcards to help children to read letter sounds and blend them together to read words. Use flashcards that encourage play to help your child to learn
		%strong
			%a{:href => "/for-home/reading-owl/expert-help/jargon-buster--2", :title => "Jargon buster"} tricky words
		by sight. Tricky words are those words that cannot be worked out by sounding out – like
		%em> 'said'
		\.
	%p
		%strong
			%a{:href => "/for-home/reading-owl/fun-ideas", :title => "Fun ideas"} Want more fun ideas to try?
	%p
		%strong 3. Listen to your child practise reading
	%p
		It’s really important that your child reads aloud to you. Reading from a levelled reading scheme book, usually one that has come home from school, means there is built-in progression so your child can steadily get more confident as they move through the reading scheme. Most children will start with fully
		%strong
			%a{:href => "/for-home/reading-owl/expert-help/jargon-buster--2", :title => "Jargon buster"} decodable
		phonic books.
	%p
		%strong
			%a{:href => "/for-home/reading-owl/find-a-book", :title => "Find a book"} Want to know more about levelled reading books?
	%p
		%strong 4. Use book talk
	%p Talking about stories and using story language helps to tune your child into reading. Talk about the author, illustrator, cover, the beginning, the end, words, sentences, features on the page, for example speech bubbles and pictures – it’s 'book talk'.
	%p
		%strong 5. Check understanding
	%p Use the pictures to help understanding, but also show your child how you might be able to predict what might happen next in a story from the words and pictures. Try to guess the ending! What clues were there?
	%br/
	%p And most importantly, enjoy what you do together and give loads of encouragement because it really works. Remember too much pressure could put your child off.
%h2 Older readers 7-11 year olds
%section.tip
	%h3 Sharing reading (of all kinds)
	%p
		%strong 1. Talk together
	%p Older children continue to need opportunities to talk with you about what they are reading or their reading interests. They may also be interested in what you are reading. Talking gives you both a chance to share and recommend.
	%p
		%strong 2. Read together
	%p There is never an age when this is not an enjoyable and useful way to spend 10 minutes a day – even your 11 year old will still enjoy the sharing opportunity if it’s on offer. It’s a great idea to get your older children to read with younger brothers and sisters too.
	%p
		%strong 3. Revisiting favourites
	%p It’s important for children to know that it’s OK to revisit old favourites and memories – even if this may seem like ‘easy reading’ – there’s no mad rush to keep moving on, and we all like the comfort of a favourite book sometimes. Comparing and sharing memories of real life and books will help your child to develop empathy.
	%p
		%strong 4. Sing together
	%p Why not? Rhythm, rhyme, raps, advertising jingles or the latest top-rated downloadable track can all help the older reader to appreciate and use the patterns of language they hear in both their speech and writing.
	%p
		%strong 5. Making choices
	%p
		It’s important to still visit book shops, libraries and places where your child can browse and chat with you about their interests. They’ll start to prefer certain authors or series, or types of reading such as comics, magazines or websites, and with your encouragement, they can learn to make choices for themselves too.
	%p
		%strong
			%a{:href => "/for-home/reading-site/find-a-book", :title => "Find a book"} Want help finding a book?
%section.tip
	%h3 Developing skills
	%p
		%strong 1. Phonics and spelling
	%p Children will still need to use their phonic skills to tackle new or unknown words but they will also be learning about spelling patterns and rules, too, so that they have a wider range of tools to use when they get stuck.
	%p
		%a{:href => "/for-home/reading-site/expert-help/phonics-made-easy", :title => "Expert help"}
			%strong Want to know more about phonics?
	%p
		%strong 2. Play Games
	%p
		Many games are really useful for developing the skills that children need as developing readers. You probably already have a host of really useful games in the cupboard, so dig out the
		= succeed "," do
			%em Scrabble
		= succeed "," do
			%em Bananagrams
		%em Boggle
		or a crossword, to name just a few.
	%p
		%strong
			%a{:href => "/for-home/reading-site/fun-ideas", :title => "Fun ideas"} Want more fun ideas to try?
	%p
		%strong 3. Listen to your child reading
	%p It’s still really important that your child continues to read aloud to you and this may or may not be from levelled books now, depending on how well their reading is coming along. The emphasis will be on reading fluently and with expression, understanding more complex plots and broadening their vocabulary as well as building an understanding of how punctuation and grammar are used.
	%p
		%strong
			%a{:href => "/for-home/reading-site/find-a-book", :title => "Find a book"} Want to know more about levelled reading books?
	%p
		%strong 4. Use book talk
	%p Continue to talk about reading in its widest sense (stories, favourite authors and illustrators, series, different types of books including poetry, plays, non-fiction and reference materials, comics and magazines). Join book clubs and online forums to discover the wider reading community.
	%p
		%strong 5. Check understanding
	%p Whatever your child is reading it’s good to check that they are grasping the deeper levels of meaning (why things happen or how things work). Ask them to tell you about what they are reading, retell parts of the story, explain a specific section or make connections. Don’t forget to explore words and vocabulary with your child too, using dictionaries in print or online.
	%br/
	%p And most importantly, continue to enjoy what you do together, give lots of encouragement and expand the reading experience to keep your child switched on. Don’t forget – if they are reading something they are not enjoying, it’s OK to read something else. Reading has really got to be a pleasant experience if you want your child to keep reading.
%h2 Useful weblinks 
