%footer#global-footer
  .container
    %a#oup-footer-logo{:href => "http://global.oup.com/"}
    %nav#footer-legal-links
      %ul.navigation-list.horizontal-navigation-list
        %li.navigation-list-item
          %a{:href => "http://global.oup.com/privacy", :target => "_BLANK"} Privacy Policy
        %li.navigation-list-item
          %a{:href => "http://global.oup.com/legal", :target => "_BLANK"} Legal Notice
        %li.navigation-list-item
          %a{:href => "http://global.oup.com/cookiepolicy/?siteid=oxfordowl", :target => "_BLANK"} Cookie Policy
    %span#copyright-notice © Copyright Oxford University Press 2014