.header-bar
  .logo 
    %a{:href => "/"}
      %img{:alt => "Oxford Owl", :src => "/images/owl_logo_green.svg"}/
  %section#top-links
    %button.btn{:type => "button"} Reading
    %a.home-link{:href => "/"}  
    / {{{top_links}}} 
  %section#create-your-class-login 