.header-bar
  .logo 
    %a{:href => "/"}
      %img{:alt => "Oxford Owl", :src => "http://d3g8ukm9kroesz.cloudfront.net/2014/10/22/15/36/24/660/logo.svg"}/
  %section#top-links
    %button.btn{:type => "button"} Reading
    %a.home-link{:href => "/"}  
    / {{{top_links}}} 
  %section#create-your-class-login 