%section#main-menu
  %ul.reading-site.reading.menu.dropdown-menu
    %li.menu-item.reading.selected.current-menu-item
      %a{:href => "/welcome-back/for-home/reading-owl/reading"} Reading
    %li.menu-item.top-tips
      %a{:href => "/welcome-back/for-home/reading-owl/top-tips--3"} Top tips
    %li.menu-item.find-a-book
      %a{:href => "/welcome-back/for-home/reading-owl/find-a-book"} Find a book
    %li.menu-item.fun-ideas
      %a{:href => "/welcome-back/for-home/reading-owl/fun-ideas"} Fun ideas
    %li.menu-item.at-school
      %a{:href => "/welcome-back/for-home/reading-owl/at-school"} At school
    %li.menu-item.expert-help
      %a{:href => "/welcome-back/for-home/reading-owl/expert-help"} Expert help
    %li.menu-item.kids-barn
      %a{:href => "/welcome-back/for-home/reading-owl/kids-barn"} Kids' Barn