%a{"data-snippet" => "promo_1_liam", :href => "http://www.oxfordowl.co.uk/welcome-back/for-home/reading-owl/find-a-book/brilliant-books"}
  .span6.box
    .row-fluid
      .span8.text
        .category 
          .category-top-five
          %span.orange Top 5
        %h2 Picture Books for bedtime
        %p
          Founder of BookStart and picture book enthusiast, Wendy Cooling shares her top picture books for bedtime.
      .span4.box-image
        %img{:alt => "500 Words", :src => "http://assets.oxfordowl.co.uk/2015/02/20/12/40/39/905/adventures_mr_toad_oxford_owl_300.png ", :style => "top: -22px; left: -42px; transform: rotate(-12deg);"}/