%a{"data-snippet" => "promo_4_liam", :href => "#"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-top-tips
          %span.blue Top tips
        %h2 Phonics practice
        %p
          Want to do some gentle phonics practice over the half-term break? Go to our helpful phonics advice and find great activities to do with your child.
      .span4.box-image
        %img{:alt => "Owl", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/07/11/12/06/380/owl_school_uniform.png", :style => "left: -137px; top: -15px; transform: rotate(-7deg);"}/