%a{"data-snippet" => "promo_8_liam", :href => "http://www.oxfordowl.co.uk/welcome-back/for-home/maths-owl/treasure-chest"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-top-tips
          %span.blue Top tips
        %h2 Kids’ Treasure Chest
        %p
          Number games, fun activities and colouring in, there are loads of fun activities in the Kids’ Treasure Chest – take a look!
      .span4.box-image
        %img{:alt => "Owl", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/07/11/12/06/380/owl_school_uniform.png", :style => "left: -137px; top: -15px; transform: rotate(-7deg);"}/