%a{"data-snippet" => "promo_4_liam", :href => "http://www.oxfordowl.co.uk/system/images/BAhbBlsHOgZmSSI2MjAxMy8wOC8yMy8xNC8xMC80Ni84NDMvR3JhbW1hcl9KYXJnb25fQnVzdGVyLnBkZgY6BkVU/Grammar-Jargon-Buster.pdf"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-top-tips
          %span.blue Top tips
        %h2 Spelling, Punctuation and Grammar
        %p
          Helping your child with their spelling, punctuation and grammar, but need a reminder yourself? Download the PDF
      .span4.box-image
        %img{:alt => "Owl", :src => "http://assets.oxfordowl.co.uk/2015/02/20/13/18/08/624/spag_jargon_buster.png", :style => "left: -144px; top: -88px; transform: rotate(-7deg);"}/