%a{"data-snippet" => "promo_2_liam", :href => "http://www.oxfordowl.co.uk/for-home/reading-site/find-a-book/storyteller-videos"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-dont-miss
          %span.green Don't miss
        %h2 Storyteller videos
        %p
          Watch professional storytellers Chip and Amy perform a range of traditional tales, from Chicken Licken to Rumpelstiltskin.
      .span4.box-image
        %img{:alt => "Storm Chasers", :src => "/images/king-and-his-wish.jpg", :style => "left: -104px; top: -11px; transform: rotate(7deg);"}/