%a{"data-snippet" => "promo_4_liam", :href => "http://www.oxfordowl.co.uk/for-home/reading-site/kids-barn/print-and-play"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-top-tips
          %span.blue Top tips
        %h2 Phonics practice
        %p
          Don’t forget to download our free phonics activity sheet, taken from Julia Donaldson’s Songbirds Phonics series.
      .span4.box-image
        %img{:alt => "Owl", :src => "http://assets.oxfordowl.co.uk/2015/02/20/13/31/02/4/songbirds_phonics_activity_sheet_oxford_owl.png", :style => "top: -95px; left: -14px; transform: rotate(-7deg);"}/