%a{"data-snippet" => "promo_5_liam", :href => "http://www.oxfordowl.co.uk/for-home/home/maths-owl/fun-activities/age-9-11--6"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-dont-miss
          %span.green Don't miss
        %h2 Maths eBooks
        %p
          Read about maths in action with Project X. From extreme sports to storm chasing, these great stories combine thrilling stories with fun maths activities.
      .span4.box-image
        %img{:alt => "Storm Chasers", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/02/16/47/21/790/ProjectX.jpg", :style => "left: -22px; top: -3px; transform: rotate(7deg);"}/