%a{"data-snippet" => "promo_6_liam", :href => "http://www.bond11plus.co.uk"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-top-tips
          %span.blue Top tips
        %h2 Beginning to think about 11+ preparation?
        %p
          Head to Bond Online for lots of advice and free resources.
      .span4.box-image
        %img{:alt => "Bond", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/07/12/50/53/819/bond_book.png", :style => "left: -20px; top: -16px; transform: rotate(-7deg);"}/