%a{"data-snippet" => "promo_2_liam", :href => "#"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-top-five
          %span.orange Top 5
        %h2 Too cold to go outside?
        %p
          Founder of Bookstart, Wendy Cooling, shares with us her Top 5 half-term reads.
      .span4.box-image
        %img{:alt => "Storm Chasers", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/02/16/47/21/790/ProjectX.jpg", :style => "left: -22px; top: -3px; transform: rotate(7deg);"}/