%a{"data-snippet" => "promo_6_liam", :href => "http://www.bond11plus.co.uk"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-top-tips
          %span.blue Top tips
        %h2 Beginning to think about 11+ preparation?
        %p
          Head to Bond Online for lots of advice and free resources.
      .span4.box-image
        %img{:alt => "Bond", :src => "http://assets.oxfordowl.co.uk/2015/02/20/13/26/01/955/bond_11_plus_parents_guide.png", :style => "top: -445px; left: -328px; transform: rotate(-7deg);"}/