%a{"data-snippet" => "promo_5_liam", :href => "#"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-dont-miss
          %span.green Don't miss
        %h2 Our free eBooks
        %p
          Can help your child practice maths. Read about maths in action with extreme sports, storm chasing and life at the bottom of the ocean.
      .span4.box-image
        %img{:alt => "Storm Chasers", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/02/16/47/21/790/ProjectX.jpg", :style => "left: -22px; top: -3px; transform: rotate(7deg);"}/