%a{"data-snippet" => "promo_3_liam", :href => "http://www.oxfordowl.co.uk/for-home/maths-site/expert-help--2/andrew-jeffrey "}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-top-tips
          %span.blue Top tips
        %h2 Want to do more maths?
        %p
          Check out our fun 'maths at home' videos – a game of NIM anyone?
      .span4.box-image
        %img{:alt => "Maths", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/07/12/11/05/458/maths_video.png", :style => "left: -97px; top: -41px; transform: rotate(-11deg);"}/