%a{"data-snippet" => "promo_1_liam", :href => "#"}
  .span6.box
    .row-fluid
      .span8.text
        .category
          .category-whats-new
          %span.pink What's new
        %h2 BBC 2’s 500 Words
        %p
          BBC 2’s 500 Words short story competition is back! Get inspired with Oxford Owl’s top tips on creative writing!
      .span4.box-image
        %img{:alt => "500 Words", :src => "/images/500_words.png", :style => "top: -101px; left: -155px; transform: rotate(-12deg);"}/