//sidebar top tips
.side-bar

  .gel-button-conainer.container-grey-lighter
    %h3 Choose an age group

    %a.btn.btn-gel-pink{:href => ""}
      Age 3-4

    %a.btn.btn-gel-pink{:href => ""}
      Age 4-5

    %a.btn.btn-gel-pink{:href => ""}
      Age 5-6

    %a.btn.btn-gel-pink{:href => ""}
      Age 6-7

    %a.btn.btn-gel-pink{:href => ""}
      Age 7-9

    %a.btn.btn-gel-pink{:href => ""}
      Age 9-11