.side-bar
  .button-container
    %a.btn.btn-gel.pull-right{:href => "", :type => "button"} Reading
  .button-container{:href => ""}
    %a.btn.btn-gel.pull-right{:type => "button"} Maths
  .button-container{:href => ""}
    %a.btn.btn-gel.pull-right{:type => "button"} eBooks
  .social
    %a{:href => "https://www.facebook.com/oxfordowl"}
      %img{:alt => "Find us on Facebook", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/06/16/09/03/689/owl_social_facebook.svg", :title => "Find us on Facebook"}/
    %a{:href => "https://twitter.com/oxfordprimaryuk"}
      %img{:alt => "Find us on Twitter", :src => "http://d3g8ukm9kroesz.cloudfront.net/2015/01/06/16/09/13/850/owl_social_twiiter.svg", :title => "Find us on Twitter"}/