//sidebar top tips
.side-bar

  %section#side-body
    %h2 Choose an age group:
    %ul
      %li
        %a.bubble-link{:href => "/for-home/reading-site/fun-ideas/age-3-4--2"} Age 3-4
      %li
        %a.bubble-link{:href => "/for-home/reading-site/fun-ideas/age-4-5--2"} Age 4-5
      %li
        %a.bubble-link{:href => "/for-home/reading-site/fun-ideas/age-5-6--2"} Age 5-6
      %li
        %a.bubble-link{:href => "/for-home/reading-site/fun-ideas/age-6-7--2"} Age 6-7
      %li
        %a.bubble-link{:href => "/for-home/reading-site/fun-ideas/age-7-9--2"} Age 7-9
      %li
        %a.bubble-link{:href => "/for-home/reading-site/fun-ideas/age-9-11--2"} Age 9-11
      %li
        %a.bubble-link{:href => "/for-home/reading-site/fun-ideas/bbc-500-words"} BBC 500 WORDS